### Python ###

# ignore the vscode settings directory
.vscode/

# ignore the sound file
*.mp3

# ignore the compiled python files
__pycache__/

# ignore the config file because it contains API keys
config.json

# ignore all memory files
.memory_data/

# ignore all test resources
test.py
test.json
