### Python ###

# ignore the sound file
*.mpeg

# ignore the compiled python files
__pycache__/

# ignore the config file because it contains API keys
config.json

# ingore all test resources
test.py
test.json